@model MvcOnlineTicariOtomasyon.Models.Classes.Department
@{
    ViewBag.Title = "DepartmentAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<br />
<h2>Yeni Departman Sayfası</h2>
<br />

<form class="form-group" action="/Department/DepartmentAdd" method="post">
    @Html.LabelFor(x => x.DepartmentName, "Departman Adı")
    @Html.TextAreaFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

