@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Classes.SalesMovements>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<h2>Sipariş Geçmişim</h2>

<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @item.Products.ProductName </td>
    <td> @item.Price</td>
    <td> @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
</tr>
    }
</table>